/* GENERAL */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  color: #6a6f81;
  background-color: #19a2ae;
  font: 400 18px "Kumbh Sans", sans-serif;
}

.visually-hidden:not(:focus, :active) {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.bg-pattern-top {
  position: absolute;
  top: -600px;
  left: -755px;
  z-index: 0;
}

.bg-pattern-bottom {
  position: absolute;
  bottom: -605px;
  right: -755px;
  z-index: 0;
}

/* PROFILE-CARD-COMPONENT */
.profile-card-component {
  height: 374px;
  width: 327px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
}

.profile-card-component img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-card-top {
  height: 140px;
}

.profile-card-bottom {
  height: 234px;
}

.profile-main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 145px;
  border-bottom: 1px solid #969696;
}

.profile-image {
  position: absolute;
  top: -53px;
  height: 106px;
  width: 106px;
  border-radius: 50%;
  border: 5px solid #fff;
  overflow: hidden;
}

.user-name-age {
  color: #2d3248;
  font: 700 19px "Kumbh Sans", sans-serif;
  margin-top: 71px;
  margin-bottom: 9px;
}

.user-age {
  color: #6a6f81;
  font: 400 18px "Kumbh Sans", sans-serif;
}

.user-location {
  font: 400 14px "Kumbh Sans", sans-serif;
}
