.profile-card-component {
  height: 374px;
  width: 326.5px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
}

.profile-card-component img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-card-top {
  height: 140px;
}

.profile-card-bottom {
  height: 234px;
}

/* PROFILE MAIN INFO */
.profile-main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 145px;
  border-bottom: 1px solid #d8d8d8;
}

.profile-image {
  position: absolute;
  top: -53px;
  height: 106px;
  width: 106px;
  border-radius: 50%;
  border: 5px solid #fff;
  overflow: hidden;
}

.profile-name-age {
  color: #2d3248;
  font: 700 18px "Kumbh Sans", sans-serif;
  word-spacing: -1px;
  padding-left: 1px;
  padding-right: 1px;
  margin-top: 71.5px;
  margin-bottom: 8.5px;
}

.profile-age {
  color: #6a6f81;
  font: 400 18px "Kumbh Sans", sans-serif;
  margin-left: 6.5px;
}

.profile-location {
  font: 400 14px "Kumbh Sans", sans-serif;
}

/* PROFILE ADDITIONAL INFO */
.profile-additional-info {
  display: flex;
  justify-content: space-between;
  height: 89px;
  padding-left: 43px;
  padding-right: 53px;
}

.profile-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-stat-number {
  color: #2d3248;
  font: 700 18px "Kumbh Sans", sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 3px;
}

.profile-stat-name {
  font: 400 11px "Kumbh Sans", sans-serif;
  letter-spacing: 1px;
  margin: 0 auto;
}

.profile-likes {
  padding-right: 9px;
}

@media all and (min-width: 1000px) {
  .profile-card-component {
    width: 350px;
  }

  .profile-additional-info {
    padding-left: 48px;
    padding-right: 55px;
  }

  .profile-name-age {
    margin-top: 72px;
  }
}
